.weather {
  border: 3px solid rgb(37, 62, 91);
  max-width: 40%;
  font-family: Arial, sans-serif;
  color: #2d2d2d;
  padding: 16px;
  margin: 100px auto;
  border-radius: 10px;
  background-color: rgb(249, 242, 237);
  opacity: 0.9;
}

.weather h1 {
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.weather ul {
  margin: 0;
  padding: 0;
}
.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.weather-icon {
  float: left;
}
footer {
  text-align: center;
  font-size: 13px;
  font-style: italic;

  color: rgb(221, 219, 219);
  font-weight: 400;
}
footer a {
  color: white;
}
.weather .temperature {
  font-size: 64px;
  font-weight: 400;
  color: rgb(33, 33, 33);
}

canvas {
  margin: 6px;
}
.weather .unit {
  color: rgb(33, 33, 33);
  font-weight: 400;
  font-size: 15px;
  position: relative;
  top: -32px;
  margin-left: 5px;
}
.btn-search {
  background-color: rgb(37, 62, 91);
  color: white;
  border: 1px solid white;
  padding: 8px 15px;
  border-radius: 5px;
}
.btn-search:hover {
  background-color: rgb(26, 52, 81);
}
