.weather {
  border: 1px solid #c1c1c1;
  max-width: 45%;
  font-family: Arial, sans-serif;
  color: #878787;
  padding: 16px;
  margin: 30px auto;
  border-radius: 4px;
}

.weather h1 {
  display: block;
  font-size: 24px;
  font-weight: 100;
  line-height: 29px;
  margin: 20px 0 0 0;
}
.weather ul {
  margin: 0;
  padding: 0;
}
.weather li {
  font-size: 16px;
  font-weight: 100;
  line-height: 19px;
  list-style: none;
}
.weather-icon {
  float: left;
}
footer {
  text-align: center;
  font-size: 11px;
}
.weather .temperature {
  font-size: 64px;
  font-weight: 400;
  color: rgb(33, 33, 33);
}

canvas {
  margin: 6px;
}
.weather .unit {
  color: rgb(33, 33, 33);
  font-weight: 400;
  font-size: 15px;
  position: relative;
  top: -32px;
  margin-left: 5px;
}
